@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-title-color: #fff;
  --seconbari-title-color: #303030;
  --accent-color: #ff6c00;
  --secondary-font: "Raleway", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1, 17;
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------Header---------------- */

.header {
  background-color: grey;
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  color: #ffffff;
}

/* -----------------Hero------------------- */

.hero {
  background-color: gray;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  letter-spacing: 0.2em;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*-------------- About -------------------*/

.about {
}
.about-list {
}
.list {
}
.about-item {
}
.about-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  text-transform: uppercase;
  color: var(--seconbari-title-color);
}
.about-title {
  color: var(--seconbari-title-color);
}
.about-decription {
  font-size: 14px;
  line-height: 1, 86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-decription span {
  font-size: 18px;
  line-height: 1, 67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: #303030;
}

/*-------------- Prices -------------------*/

.prices-subtitle {
  font-size: 11px;
  line-height: 1, 36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}
.prices-item {
}
.prices-item-text {
  font-size: 18px;
  line-height: 1, 67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btm {
  color: #ffffff;
}

/*-------------- Benifits -------------------*/

.benefits {
}
.benefits-list {
}

.benefits-item {
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  text-align: center;
  color: #303030;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  text-transform: uppercase;
  color: var(--seconbari-title-color);
}

.benefits-title {
  color: var(--seconbari-title-color);
}

.benefits-description {
  font-size: 18px;
  line-height: 1, 67;
  letter-spacing: 0.02em;
  color: #555555;
}

/*-------------- Barbers-------------------*/

.barbers {
}
.barbers-subtitel {
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 37;
  text-transform: uppercase;
  color: #303030;
}
.barbers-title {
  color: var(--seconbari-title-color);
}

.barbers-list {
}

.barbers-item {
}
.barbers-item-title {
  font-size: 18px;
  line-height: 1,39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--seconbari-title-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1,36;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--accent-color) ;
}

/*-------------- Gallery-------------------*/

.gallery {
}
.gallery-subtitle {
  font-size: 11px;
  line-height: 1,37;
  text-transform: uppercase;
  
}

.gallery-list {
}

.gallery-item {
}